@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

@if (ViewBag.ErrorTitle == null)
{

    <section class="services" id="services" style="margin-top:60px">

        <h1 class="heading"> Error</h1>

        <h3>An error occurred while processing your request.</h3>
        <hr />
    </section>
}
else
{
    <section class="services" id="services" style="margin-top:60px">

        <h1 class="heading"> @ViewBag.ErrorTitle</h1>

        <h3>@Html.Raw(ViewBag.ErrorMessage)</h3>
        <hr />
    </section>
}
