@model Projeto_Aeronautica_MVC.Models.FlightViewModel

@{
    ViewData["Title"] = "Edit";
}
<section class="services" id="services" style="margin-top:60px">
    <h1 class="heading"> Edit Flight</h1>
    <hr />
</section>

    
    <section class="form-container" style="width:120%">

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImageId" />

                    <partial name="_Flights" />

                    <div class="inputBox">
                        <span>Image</span>
                        <input asp-for="ImageFile" class="form-control" type="file" />

                    </div>
                    <h3><span asp-validation-for="ImageFile" class="text-danger"></span></h3>

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn" />
                        <a asp-action="Index" class="bt btn-success">Back to List</a>
                    </div>
                </form>
            </div>

            <div style="text-align:right; position:relative">
                <img src="@Url.Content(Model.ImageFullPath)" alt="Image" style="height:300px; width:400px; border-radius:15%; overflow:hidden; box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1)">
            </div>
        </div>
    </section>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
