@model Projeto_Aeronautica_MVC.Models.FlightViewModel

@{
    ViewData["Title"] = "Edit";
}
<section class="services" id="services" style="margin-top:60px">
    <h1 class="heading"> Edit Flight</h1>
    <hr />
</section>
    
    <section class="form-container" style="width:120%">

        <div class="row">
            <div class="col-md-4">
                <form asp-action="Edit" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Id" />
                    <input type="hidden" asp-for="ImageId" />

                    <partial name="_Flights" />

                    <div class="form-group">
                        <input type="submit" value="Save" class="btn" />
                        <a asp-action="Index" class="btn">Back to List</a>
                    </div>

                    <div class="inputBox">
                        <span class="text-danger">@TempData["EditFlightError"]</span>
                    </div>
                </form>
            </div>

            <div style="text-align:right; position:relative">
                <img src="@Url.Content(Model.ImageFullPath)" style="height:300px; width:400px; border-radius:15%; overflow:hidden; box-shadow: 0px 30px 40px -25px rgba(0, 0, 0, 1)">
            </div>
        </div>
    </section>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
<script type="text/javascript">
            $(document).ready(function () {
                $("#FlightOriginId").change(function () {
			$("#CityOriginId").empty();
			$.ajax({
				url: '@Url.Action("GetCitiesAsync", "Flights")',
				type: 'POST',
				dataType: 'json',
				data: {countryId:$("#FlightOriginId").val()},
                success: function (cities) {
                    $("#CityOriginId").append('<option value="0">(Select a city origin...)</option>');
					$.each(cities, function (i, city) {
                        $("#CityOriginId").append('<option value="'
							+ city.id + '">'
							+ city.name + '</option>');
					});
				},
				error: function (ex) {
					alert('Failed to retrieve cities.' + ex);
				}
			});
			return false;
		})
            });

    $(document).ready(function () {
                $("#FlightDestinyId").change(function () {
			$("#CityDestinyId").empty();
			$.ajax({
				url: '@Url.Action("GetCitiesAsync", "Flights")',
				type: 'POST',
				dataType: 'json',
				data: {countryId:$("#FlightDestinyId").val()},
                success: function (cities) {
                    $("#CityDestinyId").append('<option value="0">(Select a city destiny...)</option>');
					$.each(cities, function (i, city) {
                        $("#CityDestinyId").append('<option value="'
							+ city.id + '">'
							+ city.name + '</option>');
					});
				},
				error: function (ex) {
					alert('Failed to retrieve cities.' + ex);
				}
			});
			return false;
		})
            });
</script>
    }
