@model Projeto_Aeronautica_MVC.Models.ResetPasswordViewModel

@{
    ViewData["Title"] = "Reset Password";
}

@if (this.User.Identity.IsAuthenticated)
{
   
}

<h1>Reset Your Password</h1>

<section class="form-container" style="margin-top:60px">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form method="post">

                <div asp-validation-summary="All"></div>

                <input type="hidden" asp-for="Token" />

                <div class="inputBox">
                    <span>User Name</span>
                    <input asp-for="UserName" class="form-control" />

                </div>
                <h3><span asp-validation-for="UserName" class="text-warning"></span></h3>

                <div class="inputBox">
                    <span>Password</span>
                    <input asp-for="Password" type="password" class="form-control" />
                    
                </div>
                <h3><span asp-validation-for="Password" class="text-warning"></span></h3>

                <div class="inputBox">
                    <span>Confirm Password</span>
                    <input asp-for="ConfirmPassword" type="password" class="form-control" />
                    
                </div>
                <h3><span asp-validation-for="ConfirmPassword" class="text-warning"></span></h3>

                <div class="form-group">
                    <input type="submit" value="Reset password" class="btn" />
                </div>

            </form>
            <div class="text-success">
                <h3>
                    @ViewBag.Message
                </h3>
            </div>
        </div>
    </div>
    </section>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }

