@model Projeto_Aeronautica_MVC.Models.AirplaneViewModel

<div class="inputBox">
    <span>Apparatus</span>
    <input asp-for="Apparatus" class="form-control" />
    
</div>
<h3><span asp-validation-for="Apparatus" class="text-danger"></span></h3>

<div class="inputBox">
    <span>Image</span>
    <input asp-for="ImageFile" class="form-control" type="file" />
    
</div>
<h3><span asp-validation-for="ImageFile" class="text-danger"></span></h3>

<div class="inputBox">
    <span>Number of Rows</span>
    <input asp-for="NumberOfRows" class="form-control" />
    
</div>
<h3><span asp-validation-for="NumberOfRows" class="text-danger"></span></h3>

<div class="inputBox">
    <span>Total Seats</span>
    <input asp-for="TotalSeats" class="form-control" />
    
</div>
<h3><span asp-validation-for="TotalSeats" class="text-danger"></span></h3>

<div class="inputBox">
    <span>Available Seats</span>
    <input asp-for="AvaliableSeats" class="form-control" />
    
</div>
<h3><span asp-validation-for="AvaliableSeats" class="text-danger"></span></h3>

<div class="inputBox">
    <div class="form-group form-check">
        <label class="form-check-label">
            <input class="form-check-input" asp-for="IsAvailable" /> <span>Is Avaliable?</span>@*@Html.DisplayNameFor(model => model.IsAvailable)*@
        </label>
    </div>
</div>


@section Scripts {

    <script type="text/javascript">$(document).ready(function)(){
        $('.date').datepicker({
        orientation: "bottom",
        autoclose: true
        }
    });</script>
}
